@font-face{
    font-family: "nunito regular";
    src: url("../font/Nunito/Nunito-Regular.ttf") ;
}
@font-face{
    font-family: "nunito extralight";
    src: url(../font/Nunito/Nunito-ExtraLight.ttf);
}
@font-face{
    font-family: "montserrat light";
    src: url("../font/Montserrat/Montserrat-Light.ttf") ;

}
@font-face{
    font-family: "monstserrat extralight";
    src: url(../font/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: "nunito light";
    src: url(../font/Nunito/Nunito-Light.ttf);
}
@font-face{
    font-family: "montserrat regular";
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

body{
    margin-top: 144px;
    background-color:#FBFAFA;
    margin-left: 0;
    margin-right: 0;
    padding-top: 80px;
}
header{
    top: 0;
    margin-bottom: 80px;
    background-color: white;
    height: 144px;
    width: 100%;
    position: fixed;
    display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 3000;
}
nav{
    width: 221px;
    margin-left: 80px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
p{
    font-family:"nunito light";
 font-size: 18px;
 line-height: 25px;
 color: #454545;
}
.p-project{
    font-family: "montserrat light";
    
}

.menu{
    width: 280px;
    display: flex;
    justify-content:space-between;
    margin-right: 80px;
}

.option{
    font-family:"montserrat light";
font-size: 16px;
line-height: 22px;
color: #454545;
text-decoration: none;
}

.option-project{
    font-family:"montserrat regular";
font-size: 16px;
line-height: 22px;
color: #454545;
text-decoration: none;
}
.mail{
    font-family: "nunito regular";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-decoration-line: underline;
}
a{
    color: #454545;
}
a:hover{
    color:#FFA1F0;
}

h1{
    font-family: "monstserrat extralight";
font-size: 40px;
    color: #454545;
margin-left: 120px;
margin-bottom: -20px;
}
span{
    font-family: "montserrat light";
}
.title{
    margin-bottom: 80px;
    padding-right: 120px;
}
.container-yellow{
    width: 440px;
height: 56px;
background-color: #F4FD53;

}
.projects{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.project-one{
    margin-bottom: 64px;
  
}
.project-two{
    margin-bottom: 64px;
}

.project-three{
    margin-bottom: 64px;
}
.project-four{
    margin-bottom: 64px;
}
button{
    width: 528px;
    height: 528px;
    background-color: #dadada;
    cursor: pointer;
    border: none;
    font-size: 24PX;
   font-family:"montserrat light";
   
}

button:hover{
    background-color: #f7b3ce;
    border: none;
    animation: button 3s;
}
.proyect1{
    background-image: url(../images/proyecto1.jpg);
    background-size: cover;
    opacity: 90%;
}
.proyect2{
    background-image: url(../images/proyecto4.jpg);
    background-size: cover;
opacity: 90%;
}
.proyect3{
    background-image: url(../images/proyecto3.jpg);
    background-size: cover;
    opacity: 90%;
}
.proyect4{
    background-image: url(../images/proyecto2.jpg);
    background-size: cover;
    opacity: 90%;
}

@keyframes button{
    0%{
        transform: scale(1);
        opacity: 50%;
        font-size: 24PX;
        display: none;
        
    }
    50%{
        transform: scale(1.05);
        background-color: #e4568f;
        font-size: 28px;
        display:block;
        opacity: 30%;
        font-size: 28PX;
    
    }
    100%{
        transform: scale(1.06);
        opacity: 20%;
        font-size: 28PX;
    }

}

.container-article{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.linkedin{
    width: 24px;
 height: 24px;
}
.medium{
    width: 24px;
 height: 24px;
}
.rrss{
    width: 64px;
    display: flex;
    justify-content: space-between;
}

footer{
    height: 120px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}